<% content_for :chats do %>
  <% @chats.each do |chat| %>
    <li class="channel <%= 'active' if @current_chat.chat_id == chat.chat_id %>">
      <%= link_to chat.first_name, chat %>
    </li>
  <% end %>
<% end %>


<% content_for :messages_history do %>
  <div id="<%= @current_chat.chat_id %>">
    <% @messages.each do |message| %>
      <% if message.incoming %>
        <p><%= "#{@current_chat.first_name}: #{message.message}" %></p>
      <% else %>
        <p><%= "me: #{message.message}" %></p>
      <% end %>
    <% end %>
  </div>
<% end %>


<% content_for :footer do %>
  <div class="input-box">
    <input type="text" class="input-box_text" id="chatid_<%= @current_chat.chat_id %>"/>
  </div>
<% end %>
