<!DOCTYPE html>
<html>
  <head>
    <title>TelegramBotApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="main">
      <div class="listings">
        <div class="listings_channels">
          <h2 class="listings_header">Chats</h2>
          <ul class="channel_list">
            <%= yield :chats %>
          </ul>
        </div>
      </div>

      <div class="message-history" id="messages">
        <%= yield :message_history %>
      </div>
    </div>

    <div class="footer">
      <%= yield :footer %>
    </div>
  </body>
</html>
